body {
    font-family: 'Inter', sans-serif;
    margin: 20px;
}

.container {
    margin: 20px;
}

.application {
    border: 1px solid #ccc;
    padding: 20px;
    margin-bottom: 30px;
}

.application.in-progress {
    background-color: #FFD700; /* Yellow */
}

.application.paid {
    background-color: #90EE90; /* Light Green */
}

.application.waiting {
    background-color: #FFFFFF; /* White */
}

.status {
    font-weight: 700;
}

.button {
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

.button.start {
    background-color: #28a745; /* Green */
}

.button.complete {
    background-color: #dc3545; /* Red */
}

.refresh-button {
    background-color: #000DFF;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    margin-top: 20px;
}
