.add-product-page {
    padding: 20px;
}

.title-class {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

.add-product-page label {
    display: block;
    margin-bottom: 10px;
    font-family: "Inter";
    font-size: 10px;
    font-weight: 400;
}

.add-product-page input, select {
    width: 280px;
    border: 0.5px solid rgba(0, 0, 0, 1);
    border-radius: 8px;
    background-color: rgba(188, 122, 255, 1);
    color: white;
    font-family: "Inter";
    font-size: 8px;
    font-weight: 400;
    padding: 10px;
    margin-top: 5px;
    box-sizing: border-box;
    cursor: pointer;
}

.add-product-page input[type="file"] {
    display: none;
}

.add-product-page input::placeholder {
    color: white;
}

.file-label {
    width: 280px;
    border: 0.5px solid rgba(0, 0, 0, 1);
    border-radius: 8px;
    background-color: rgba(188, 122, 255, 1);
    color: white;
    font-family: "Inter";
    font-size: 8px;
    font-weight: 400;
    padding: 10px;
    margin-top: 5px;
    cursor: pointer;
    box-sizing: border-box;
}

.add-product-page input[type="number"] {
    -moz-appearance: textfield;
}

.add-product-page input[type="number"]::-webkit-outer-spin-button,
.add-product-page input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.add-product-page select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTIiIGhlaWdodD0iNyIgdmlld0JveD0iMCAwIDEyIDciIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+CjxwYXRoIGQ9Ik0xLjIxNDU4IDAuNzQ2MDQ5QzAuODg5MTYgMS4wNzIyMyAwLjg4OTE2IDEuNjAxMTMgMS4yMTQ1OCAxLjkyNzMxTDUuMjkxNDkgNi4wMDk2NUM1Ljk0MjQxIDYuNjYxNSA2Ljk5NzI0IDYuNjYxMjUgNy42NDc5MSA2LjAwOTE1TDExLjcyMzIgMS45MjQzQzEyLjA0ODYgMS41OTgxMyAxMi4wNDg2IDEuMDY5MjMgMTEuNzIzMiAwLjczNDM0QzExLjM5NzggMC40MTY4MzIgMTAuODcwMSAwLjQxNjgzMiAxMC41NDQ3IDAuNzQzMDM0TDcuMDU2NjYgNC4yMzkxOUM2LjczMTI0IDQuNTY1NDUgNi4yMDM1OCA0LjU2NTQ1IDUuODc4MTYgNC4yMzkxOUwyLjM5MzA4IDAuNzQ2MDQ5QzIuMDY3NjYgMC40MTk4NDcgMS41NDAwOCAwLjQxOTg0NyAxLjIxNDU4IDAuNzQ2MDQ5WiIgZmlsbD0id2hpdGUiLz4KPC9zdmc+Cg==");
    background-repeat: no-repeat;
    background-position: right 10px center;
    padding-right: 20px;
}

.continue-button {
    width: 280px;
    height: 30px;
    border: 1px solid rgba(0, 0, 0, 1);
    border-radius: 8px;
    background-color: rgba(105, 13, 201, 1);
    color: rgba(255, 255, 255, 1);
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
    text-align: center;
}

.required-label {
    font-family: "Inter";
    font-size: 10px;
    font-weight: 400;
    color: black;
    margin-top: 30px;
    margin-bottom: 5px;
}

.warning-message {
    color: red;
    margin-top: 5px;
    font-family: "Inter";
    font-size: 8px;
    font-weight: 400;
    text-decoration: underline;
}