.app-container {
  display: flex;
  flex-direction: column;
  width: 320px;
  height: 568px;
  position: relative;
}

.content {
  overflow: auto;
  padding-bottom: 50px;
}



/* Home Page */
.home-page {
  padding: 20px;
  width: 100%;
}



/* Add Product Page */
.add-product-page {
  padding: 20px;
  width: 100%;
}

.add-product-page form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.add-product-page form input,
.add-product-page form select,
.add-product-page form button {
  padding: 10px;
  font-size: 16px;
}

.add-product-page form button {
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
