.app-container {
  display: flex;
  flex-direction: column;
  width: 100vw;
  position: relative;
  background-color: #fff;
  height: var(--tg-viewport-stable-height);
  height: calc(100vh - constant(safe-area-inset-bottom)); /* для старых версий iOS */
  height: calc(100vh - env(safe-area-inset-bottom)); /* для новых версий iOS */
}

.content {
  overflow-x: hidden;
  overflow-y: auto;
  padding-bottom: 6vh;
}

.content::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.content {
  scrollbar-width: none;
}

.content {
  -ms-overflow-style: none;
}

@media (min-width: 600px) {
  .app-container {
    width: 100vw;
    height: 100vh;
  }

  .content {
    padding-bottom: 7vh;
  }
}

@media (min-width: 768px) {
  .app-container {
    width: 100vw;
    height: 100vh;
  }

  .content {
    padding-bottom: 8vh;
  }
}
