.product-detail {
  display: flex;
  flex-direction: column;
  width: 320px;
  padding: 20px;
  gap: 10px;
  box-sizing: border-box;
  background-color: white;
  border-radius: 8px;
}

.product-skeleton {
  background-color: #e0e0e0;
  width: 100%;
  height: 363px;
  border-radius: 8px;
  animation: skeleton-loading 1.5s infinite;
  margin: 0 auto;
}

@keyframes skeleton-loading {
  0% {
    background-color: #e0e0e0;
  }
  50% {
    background-color: #f0f0f0;
  }
  100% {
    background-color: #e0e0e0;
  }
}

.product-image-detail {
  width: 100%;
  height: 363px;
  border-radius: 8px;
  display: block;
  margin: 0 auto;
}

.product-info {
  font-family: "Helvetica Neue Cyr", sans-serif;
}

.product-title {
  font-size: 16px;
  font-weight: 550;
  margin-bottom: 20px;
}

.deal-conditions {
  font-size: 16px;
  font-weight: 550;
  margin-bottom: 10px;
}

.payment-terms {
  font-size: 13px;
  font-weight: 400;
  margin-bottom: 20px;
}

.price-info {
  margin-bottom: 20px;
}

.price-item {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  font-weight: 400;
  padding: 8px 0;
  border-bottom: 1px solid #000;
}

.price-item:first-child {
  padding-top: 0;
}

.buy-button {
  width: 280px;
  height: 30px;
  border: none;
  border-radius: 8px;
  background-color: rgba(105, 13, 201, 1);
  color: rgba(255, 255, 255, 1);
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  text-align: center;
  margin-top: 30px;
}

.buy-button:focus {
  outline: none;
}

.product-name {
  font-family: "Helvetica Neue Cyr";
  font-size: 16px;
  font-weight: 500;
  margin: 20px 0;
  color: rgba(0, 0, 0, 1);
}

.product-terms {
  font-family: "Helvetica Neue Cyr";
  font-size: 16px;
  font-weight: 500;
  color: rgba(0, 0, 0, 1);
  text-decoration: underline;
}

.product-payment {
  font-family: "Helvetica Neue Cyr";
  font-size: 13px;
  font-weight: 400;
}

.product-details {
    font-family: "Helvetica Neue Cyr";
    font-size: 12px;
    font-weight: 400;
}

.product-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 0;
  border-bottom: 1px solid black;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.delete-button {
  width: 280px;
  height: 30px;
  border: none;
  border-radius: 8px;
  background-color: red;
  color: white;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  text-align: center;
}

.delete-button:hover {
  background-color: darkred;
}