.product-detail {
  display: flex;
  flex-direction: column;
  width: 100vw;
  padding: 20px;
  gap: 2vw;
  box-sizing: border-box;
  background-color: white;
  border-radius: 2vw;
}

.telegram-button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 100%;
  padding: 12px;
  background-color: rgba(188, 122, 255, 1);
  color: #fff;
  border-radius: 8px;
  font-family: "Helvetica Neue Cyr";
font-size: 18px;
font-weight: 600;
cursor: pointer;
}

.product-skeleton {
  background-color: #e0e0e0;
  width: 100%;
  height: calc(100vw * 363 / 320);
  border-radius: 2vw;
  animation: skeleton-loading 1.5s infinite;
  margin: 0 auto;
  box-sizing: border-box;
}

@keyframes skeleton-loading {
  0% {
    background-color: #e0e0e0;
  }
  50% {
    background-color: #f0f0f0;
  }
  100% {
    background-color: #e0e0e0;
  }
}

.product-image-detail {
  width: 100%;
  height: calc(100vw * 363 / 320);
  border-radius: 2vw;
  display: block;
  margin: 0 auto;
}

.product-info {
  font-family: "Helvetica Neue Cyr", sans-serif;
}

.product-title {
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 5vw;
}

.deal-conditions {
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 2.5vw;
}

.payment-terms {
  font-size: 19px;
  font-weight: 400;
  margin-bottom: 5vw;
}

.price-info {
  margin-bottom: 5vw;
}

.price-item {
  display: flex;
  justify-content: space-between;
  font-size: 18px;
  font-weight: 400;
  padding: 2vw 0;
  border-bottom: 0.3vw solid #000;
}

.price-item:first-child {
  padding-top: 0;
}

.buy-button {
  width: 100%;
  border: none;
  border-radius: 8px;
  background-color: rgba(105, 13, 201, 1);
  color: rgba(255, 255, 255, 1);
  font-size: 21px;
  font-weight: 500;
  cursor: pointer;
  text-align: center;
  padding: 8px;
  margin-top: 7.5vw;
}

.buy-button:focus {
  outline: none;
}

.buy-button.disabled {
  background-color: gray;
  cursor: not-allowed;
}

.product-name {
  font-family: "Helvetica Neue Cyr";
  font-size: 24px;
  font-weight: 500;
  margin: 5vw 0;
  color: rgba(0, 0, 0, 1);
}

.product-terms {
  font-family: "Helvetica Neue Cyr";
  font-size: 24px;
  font-weight: 500;
  color: rgba(0, 0, 0, 1);
  text-decoration: underline;
  margin-bottom: 5px;
}

.product-payment {
  font-family: "Helvetica Neue Cyr";
  font-size: 19px;
  font-weight: 400;
}

.product-details {
  font-family: "Helvetica Neue Cyr";
  font-size: 18px;
  font-weight: 400;
}

.product-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2vw 0;
  border-bottom: 0.3vw solid black;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.delete-button {
  width: 100%;
  border: none;
  border-radius: 8px;
  background-color: red;
  color: white;
  font-size: 21px;
  font-weight: 500;
  padding: 8px;
  cursor: pointer;
  text-align: center;
}

.confirm-button {
  width: 100%;
  border: none;
  border-radius: 8px;
  background-color: rgb(28, 59, 25); 
  color: white;
  font-size: 21px;
  font-weight: 500;
  padding: 8px;
  cursor: pointer;
  text-align: center;
}

.confirm-button.disabled {
  background-color: gray;
  cursor: not-allowed;
}

.info-icon {
  margin-left: 10px;
  cursor: pointer;
  vertical-align:text-bottom
}

.detail-popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.detail-popup {
  background-color: white;
  padding: 20px;
  border-radius: 10px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  max-width: 500px; 
  width: 70%; 
  height: 50%; 
  box-sizing: border-box;
  font-family: "Helvetica Neue Cyr", sans-serif; 
  overflow-y: auto; 
}

.detail-popup h3 {
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 18px;
  font-weight: 500;
}

.detail-popup-item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}

.detail-popup-item:last-child {
  margin-bottom: 0;
}

.detail-popup-table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 0;
  font-size: 16px;
}

.detail-popup-table th,
.detail-popup-table td {
  border: 1px solid #bbb;
  padding: 8px 12px;
  text-align: left;
}

.detail-popup-table th {
  background: #f5f5f5;
  font-weight: 600;
  font-size: 16px;
}

.detail-popup-table tr:last-child td {
  border-bottom: 1px solid #bbb;
}