.purchases-page {
    padding: 20px;
    width: 100%;
    box-sizing: border-box;
    padding-bottom: 70px;
  }
  
  .purchases-page ul {
    list-style: none;
    padding: 0;
  }
  
  .purchase-item {
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: white;
    margin-bottom: 10px;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    height: 80px;
    border: 1px solid rgba(146, 35, 214, 1);
    cursor: pointer;
    box-sizing: border-box;
  }
  
  .purchase-image {
    width: 49px;
    height: 60px;
    border-radius: 8px;
  }
  
  .purchase-details {
    flex: 1;
    margin-left: 10px;
  }
  
  .purchase-title {
    font-family: "Inter";
    font-size: 12px;
    font-weight: 600;
    text-align: left;
    color: rgba(0, 0, 0, 1);
    margin: 0;
  }
  
  .purchase-price, .purchase-step {
    font-family: "Inter";
    font-size: 10px;
    font-weight: 400;
    text-align: left;
    margin: 2px 0;
  }

  .purchase-step {
    display: flex;
  align-items: center; 
  }
  
  .purchase-arrow {
    font-size: 20px;
    color: rgba(0, 0, 0, 1);
  }

  .purchase-skeleton {
    background-color: #e0e0e0;
    width: 49px;
    height: 60px;
    border-radius: 8px;
    animation: skeleton-loading 1.5s infinite;
  }
  
  @keyframes skeleton-loading {
    0% {
      background-color: #e0e0e0;
    }
    50% {
      background-color: #f0f0f0;
    }
    100% {
      background-color: #e0e0e0;
    }
  }