.purchase-step-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: 94vh;
  background-color: #000000;
  font-family: "Helvetica Neue Cyr", sans-serif;
  box-sizing: border-box;
}

.title-class-step {
  font-family: "Helvetica Neue Cyr";
  font-size: 24px;
  font-weight: 500;
  text-align: left;
  color: rgba(0, 0, 0, 1);
}

.purchase-step-page-long {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: auto;
  background-color: #000000;
  font-family: "Helvetica Neue Cyr", sans-serif;
  box-sizing: border-box;
}

.purchase-step-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100vw;
  padding: 20px;
  background-color: rgba(255, 255, 255, 1);
  border-radius: 0px 0px 8px 8px;
  box-sizing: border-box;
  gap: 3vh;
}

.purchase-step-content {
  width: 100vw;
  padding: 20px 20px 150px 20px;
  margin-top: 1vh;
  background-color: white;
  border-radius: 8px 8px 0 0;
  box-sizing: border-box;
  flex: 1;
}

.purchase-step-content > * {
  margin-bottom: 3vh;
}

.purchase-step-content > *:last-child {
  margin-bottom: 0;
}

.purchase-step-subtitle {
  font-size: 18px;
  font-weight: 500;
}

.purchase-step-text {
  font-size: 21px;
  font-weight: 400;
  line-height: 22px;
}

.font-16px-400 {
  font-size: 24px;
  font-weight: 400;
}

.font-16px-600 {
  font-size: 24px;
  font-weight: 600;
}

.purchase-step-subtitle-12px-400 {
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 0;
}

.step-footer-container {
  position: fixed;
  bottom: 8vh;
  left: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 20px;
  box-sizing: border-box;
  gap: 10px;
}

.purchase-step-footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1vh;
  box-sizing: border-box;
  margin-top: auto;
}

.purchase-step-button {
  width: 100%;
  border: none;
  border-radius: 8px;
  padding: 8px;
  background-color: rgba(105, 13, 201, 1);
  color: rgba(255, 255, 255, 1);
  font-size: 21px;
  font-weight: 500;
  cursor: pointer;
  text-align: center;
  z-index: 1000;
}

.purchase-step-keywords {
  display: flex;
  overflow-x: auto;
  overflow-y: hidden;
}

.keyword {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 8px;
  background: rgba(105, 13, 201, 1);
  font-size: 24px;
  font-weight: 500;
  color: rgba(255, 255, 255, 1);
  padding: 8px 15px;
  margin-right: 2vw;
  white-space: nowrap;
  gap: 15px;
}

.text-ul {
  padding-left: 20px;
  margin: 0;
}

.upload-label {
  font-size: 15px;
  font-weight: 400;
  width: 100%;
  border-radius: 10px;
  background-color: rgba(188, 122, 255, 1);
  color: white;
  padding: 8px;
  margin-top: 1vh;
  cursor: pointer;
  box-sizing: border-box;
  display: inline-block;
  border: none;
}

.upload-input {
  display: none;
  font-size: 12px;
  font-weight: 400;
  text-align: left;
}

.upload-feedback {
  display: flex;
  align-items: center;
  margin-top: 1vh;
  cursor: pointer;
}

.upload-feedback-step4 {
  width: 100%;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.upload-checkbox {
  width: 15px;
  height: 15px;
  background-color: grey;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
  border: 1px solid rgba(0, 0, 0, 1);
  box-sizing: border-box;
}

.upload-checkbox.checked {
  background-color: rgba(4, 184, 0, 1);
}

.upload-checkbox svg {
  width: 15px;
  height: 15px;
  fill: black;
}

.upload-feedback-text {
  font-size: 18px;
  font-weight: 700;
}

.purchase-step-button:disabled {
  background-color: grey;
  cursor: not-allowed;
}

.image-uploaded-message {
  margin-top: 1vh;
  font-size: 21px;
}

.upload-title {
  font-size: 21px;
  font-weight: 500;
}

.purchase-step-skeleton {
  background-color: #e0e0e0;
  width: 100vw;
  height: 45vh;
  border-radius: 8px;
  animation: skeleton-loading 1.5s infinite;
  margin: 0 auto;
}

@keyframes skeleton-loading {
  0% {
    background-color: #e0e0e0;
  }
  50% {
    background-color: #f0f0f0;
  }
  100% {
    background-color: #e0e0e0;
  }
}

.purchase-step-detail {
  width: 90vw;
  height: 45vh;
  border-radius: 8px;
  display: block;
  margin: 0 auto;
}

.important {
  color: red;
}

.red-error {
  position: absolute;
  color: red;
  font-size: 15px;
  font-weight: 400;
}

.article-input {
  position: relative;
  margin-top: 2vh;
}

.article-input-step2 {
  position: relative;
  margin-top: 2vh;
  margin-bottom: 10vh;
}

.purchase-step-page input,
.purchase-step-page-long input {
  width: 100%;
  border: none;
  border-radius: 8px;
  background-color: rgba(188, 122, 255, 1);
  color: white;
  font-size: 15px;
  font-weight: 400;
  padding: 8px;
  margin-top: 1vh;
  box-sizing: border-box;
  cursor: pointer;
}

.purchase-step-page input::placeholder,
.purchase-step-page-long input::placeholder {
  color: white;
}

.telegram-button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 100%;
  padding: 12px;
  background-color: rgba(188, 122, 255, 1);
  color: #fff;
  border-radius: 8px;
  font-family: "Helvetica Neue Cyr";
font-size: 24px;
font-weight: 600;
}

.button-help {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  padding: 12px;
  background-color: rgba(70, 144, 255, 1);
  color: #fff;
  border-radius: 8px;
  font-family: "Helvetica Neue Cyr";
  font-size: 21px;
  font-weight: 500;
}

@media (min-width: 600px) {
  .purchase-step-page {
    height: 93vh;
  }

  .step-footer-container {
    bottom: 9vh;
  }
}

@media (min-width: 768px) {
  .purchase-step-page {
    height: 92vh;
  }

  .step-footer-container {
    bottom: 10vh;
  }
}
