.sidebar {
  display: flex;
  align-items: center;
  justify-content: space-around; 
  border-radius: 8px 8px 0px 0px;
  background: rgba(0, 0, 0, 1);
  padding: 1vh;
  width: 100%;
  height: 7vh; /* Adjusted to be responsive */
  flex-shrink: 0;
  box-sizing: border-box;
  position: fixed; 
  bottom: 0; 
  left: 0; 
  right: 0; 
  margin: 0; 
  z-index: 1000;
}

.sidebar a {
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  height: 100%;
  transition: background-color 0.3s ease;
}

.sidebar svg {
  width: 5vw; /* Adjusted to be responsive */
  height: auto;
}

.sidebar .active svg path:not([stroke]) {
  fill: rgba(146, 35, 214, 1);
}

.sidebar .active svg path[stroke] {
  stroke: rgba(146, 35, 214, 1);
}

/* Media Queries for Larger Screens */
@media (min-width: 600px) {
  .sidebar {
    height: 8vh; /* Adjust for larger screens */
  }
  
  .sidebar svg {
    width: 4vw; /* Adjust for larger screens */
  }
}

@media (min-width: 768px) {
  .sidebar {
    height: 6vh; /* Adjust for even larger screens */
  }
  
  .sidebar svg {
    width: 3vw; /* Adjust for even larger screens */
  }
}

/* Media Queries for Smaller Screens */
@media (max-width: 320px) {
  .sidebar {
    height: 9vh; /* Adjust for smaller screens */
  }
  
  .sidebar svg {
    width: 6vw; /* Adjust for smaller screens */
  }
}