body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.title-class {
  font-family: 'Helvetica Neue Cyr';
  font-size: 16px;
  font-weight: 500;
  text-align: left;
  color: rgba(0, 0, 0, 1);
  margin-bottom: 10px;
}

@font-face {
  font-family: "Helvetica Neue Cyr";
  src: local("helveticaneuecyr_medium"),
    url("./fonts/helveticaneuecyr_medium.ttf") format("truetype");
  font-weight: 500;
}

@font-face {
  font-family: "Helvetica Neue Cyr";
  src: local("helveticaneuecyr_roman"),
    url("./fonts/helveticaneuecyr_roman.otf") format("opentype");
  font-weight: 400;
}

@font-face {
  font-family: "Helvetica Neue Cyr";
  src: local("helveticaneuecyr_bold"),
    url("./fonts/helveticaneuecyr_bold.ttf") format("truetype");
  font-weight: 700;
}

@font-face {
  font-family: "Inter";
  src: local("inter_regular"),
    url("./fonts/Inter-Regular.otf") format("opentype");
  font-weight: 400;
}

@font-face {
  font-family: "Inter";
  src: local("inter_medium"),
    url("./fonts/Inter-Medium.otf") format("opentype");
  font-weight: 500;
}

@font-face {
  font-family: "Inter";
  src: local("inter_semibold"),
    url("./fonts/Inter-SemiBold.otf") format("opentype");
  font-weight: 600;
}

@font-face {
  font-family: "Inter";
  src: local("inter_bold"),
    url("./fonts/Inter-Bold.otf") format("opentype");
  font-weight: 700;
}

/* Hide scrollbar for WebKit browsers (Chrome, Safari) */
::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge, and Firefox */
body {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
}

/* Apply to specific elements, for example .purchase-step-keywords */
.purchase-step-keywords {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.purchase-step-keywords::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}