name: Deploy TestBot

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up Node.js
        uses: actions/setup-node@v2
        with:
          node-version: '20'

      - name: Install dependencies
        run: npm install

      - name: Build the app
        run: CI=false npm run build

      - name: Archive build artifacts
        uses: actions/upload-artifact@v3
        with:
          name: build-artifacts
          path: build/
  
  deploy:
    needs: build
    runs-on: ubuntu-latest

    steps:
      - name: Download build artifact
        uses: actions/download-artifact@v3
        with:
          name: build-artifacts
          path: ./build-artifacts

      - name: Deploy build artifacts and create symlink
        env:
          HOST: ${{ secrets.HOST }}
          USERNAME: ${{ secrets.USERNAME }}
          PASSWORD: ${{ secrets.PASSWORD }}
        run: |
          # Устанавливаем sshpass и rsync
          sudo apt-get update && sudo apt-get install -y sshpass rsync

          # Создаем временную директорию для SSH known_hosts
          mkdir -p /tmp/ssh
          ssh-keyscan -H $HOST >> /tmp/ssh/known_hosts

          # Копируем сборку в директорию /var/www/test_bot/server/
          SSH_CMD="ssh -o UserKnownHostsFile=/tmp/ssh/known_hosts -o StrictHostKeyChecking=yes"
          sshpass -p "$PASSWORD" rsync -avz --delete -e "$SSH_CMD" ./build-artifacts/ root@$HOST:/var/www/test_bot/server/

          # Создаем символическую ссылку на папку /var/www/phppgadmin/
          sshpass -p "$PASSWORD" $SSH_CMD root@$HOST "ln -sf /var/www/phppgadmin/ /var/www/test_bot/server/Eskj6QpGdoJzkGHPiyzNPo3CNDNj4QJFtpKeFtuozzmQSre9sm"
